SWITCHBOARD_HOST=0.0.0.0
SWITCHBOARD_PORT=8000
AUTH0_DOMAIN=dev-xxxxxxxx.us.auth0.com

MCP_RESOURCE_SERVER_URL=http://localhost:8000

POSTGRES_DB=switchboard
POSTGRES_USER=switchboard_admin
POSTGRES_PASSWORD=change-me-admin

SWITCHBOARD_DB_READONLY_USER=switchboard_readonly
SWITCHBOARD_DB_READONLY_PASSWORD=change-me-readonly

SWITCHBOARD_DB_WRITE_USER=switchboard_write
SWITCHBOARD_DB_WRITE_PASSWORD=change-me-write

PINECONE_API_KEY=pcsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_REFRESH_TOKEN=1//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
